@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rowdies:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.container{
    margin: 0 auto;
    padding: 0 80px;
}

.btn{
    border-radius: 10px;
    padding: 16px 24px;
    text-align: center;
    transition: all 0.3s;
}

.btn:hover{
    transform: scale(0.95);
}

.btn-primary{
    background-color: #0A0D0D;
    color: #fff;
}

.btn-primary:hover{
    border: 4px double #FFFFFF;
}

.btn-secondary{
    background-color: #F1F4F4;
    color: #000;
}

.btn-secondary:hover{
    border: 4px double #0A0D0D;
}

.btn-ghost{
    background: none;
    border: 2px solid #F1F4F4;
    color: #F1F4F4;
}

.btn-ghost:hover{
    background-color: #F1F4F4;
    color: #000;
}

.btn-noBorder:hover{
    color: #FA9829;
}

/* Navbar */

#container-navbar{
    position: sticky;
	top: 0;
    background-color: #FFFFFF;
}

#container-navbar.scrolled-down{
    box-shadow: 0px 4px 15px rgba(67, 123, 213, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    font-size: 16px;
}

#logo{
    font-size: 32px;
    font-family: 'Rowdies', cursive;
    color: #FA9829;
}

.navbar .menu, .navbar .button-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu a:hover{
    color: #FA9829;
    transition: all 0.3s;
}

.toggle-btn{
    font-size: 30px;
    display: none;
}

.dropDown-menu{
    display: none;
    position: absolute;
    right: 80px;
    top: 70px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropDown-menu.open{
    height: 480px;
}

.dropDown-menu li{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropDown-menu li a{
    color: #FFFFFF;
    font-size: 20px;
}

.dropDown-menu li a:hover{
    color: #FA9829;
    transition: all 0.3s;
}

.dropDown-menu .btn{
    width: 100%;
}

/* Hero Banner */
#container-hero{
    color: #fff;
    background-color: #0A0D0D;
    padding-top: 52px;
    padding-bottom: 52px;
}

#hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#headline{
    font-size: 48px;
    margin-bottom: 16px;
    line-height: 65px;
    font-weight: 500;
    /* animation: slideUp 0.7s ease-in; */
}

#headline span{
    font-size: 64px;
    color: #FA9829;
    font-family: 'Rowdies', cursive;
}

#description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #B3B2B2;
    margin-bottom: 40px;
    width: 580px;
}

.button-hero{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.button-hero .btn-secondary{
    width: 160px;
}

.button-hero .btn .btn-ghost{
    width: 180px;
}

.banner img{
    width: 430px;
    height: 490px;
}

/* Keunggulan */
#container-keunggulan{
    padding-top: 80px;
    padding-bottom: 80px;
}

.keunggulan{
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
}

.content-title{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.content-title h2{
    font-size: 40px;
    font-weight: 700;
}

.content-title p{
    font-size: 18px;
    font-weight: 400;
    color: #4D4C4C;
    width: 668px;
    text-align: center;
    line-height: 25px;
}

.keunggulan-content{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.card{
    text-align: center;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card img{
    width: 75px;
    height: 75px;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.card-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 198px;
    color: #6A6A6A;
}


/* Program */
#container-program{
    padding-bottom: 80px;
}

#program{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.program-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.card-kelas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card-kelas img{
    width: cover;
    height: 280px;
}

.content-kelas{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 0 20px;
}

.content-kelas-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc-top{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.desc-top h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
}

.desc-top p{
    width: 430px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.desc-benefit{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.benefit-list{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.benefit-list img{
    width: 24px;
    height: 24px;
}

.content-kelas-text h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #FF4D4F;
}

.content-kelas a{
    width: 430px;
}

/* About Us */
#container-aboutUs{
    background-color: #0A0D0D;
    padding-top: 72px;
    padding-bottom: 72px;
}

.aboutUs{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 80px;
    align-items: center;
    justify-content: center
}

.aboutUs img{
    width: 497px;
    height: 497px;
}

.aboutUs-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #FFFFFF;
}

.aboutUs-title h6{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.aboutUs-title h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    font-family: 'Rowdies', cursive;
    color: #FA9829;
}

.aboutUs-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    color: #B3B2B2;
    width: 480px;
}

.aboutUs-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.aboutUs-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

/* Testimoni */
.testimoni{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.testimoni-content{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 80px;
    align-items: center;
    padding-right: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.testimoni-content img{
    width: cover;
    height: 340px;
}

.testimoni-content-text{
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.testimoni-content-text .top{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testimoni-content-text .top img{
    width: 24px;
    height: 24px;
}

.testimoni-content-text .top p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

.testimoni-content-text .bottom{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimoni-content-text .bottom h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.testimoni-content-text .bottom p{
    color: #2C3A3A;
    font-size: 18px;
}

/* Form */
#join-us{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    padding-bottom: 80px;
}

#join-us img{
    width: 500px;
    height: cover;
}

#joinUs-content{
    display: flex;
    flex-direction: column;
    width: 640px;
}

#joinUs-content .content-title{
    align-items: start;
    gap: 8px;
}

#joinUs-content .content-title p{
    text-align: start;
}

#content-form{
    margin-top: 24px;
}

#content-form label{
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    width: auto;
}

#content-form input{
    width: auto;
    height: 52px;
    padding: 12px 24px;
    border: 2px solid #B3B2B2;
    border-radius: 8px;
}

#content-form input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.list-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
    width: 512px;
}

#konfirm{
    width: 514px;
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 20px 0;
}

#konfirm #check{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: justify;
}

#konfirm #status{
    width: 40px;
    height: 40px;
}

#submit-form{
    width: 524px;
    font-size: 22px;
    font-weight: 500;
}

#warning{
    margin-top: 16px;
    color: #ffc686;
    font-size: 22px;
    font-weight: 500;
}


/* Matriks */

.container-matriks{
    padding: 64px 72px;
    padding-top: 0px;
}

.matriks{
    background-color: #0A0D0D;
    border-radius: 16px;
    padding: 48px 88px;
    display: flex;
    flex-wrap: wrap;
    gap: 128px;
    justify-content: center;
}

.content-matriks{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.content-matriks h2{
    font-size: 34px;
    font-weight: 700;
    line-height: 54px;
    color: #FFFFFF;
}

.content-matriks p{
    color: #B3B2B2;
}

/* Footer */
#container-footer{
    background-color: #0A0D0D;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer-content{
    display: flex;
    flex-wrap: wrap;
    gap: 128px;
    align-items: center;
}

#footer-desc{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#footer-text{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#footer-text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    font-family: 'Rowdies', cursive;
    color: #FA9829;
}

#footer-text p{
    width: 368px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    color: #B3B2B2;
}

#footer-sosmed ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 36px;
    text-align: center;
}

#footer-sosmed li{
    padding: 10px;
    height: 50px;
}

#footer-sosmed li:hover{
    background-color: #FA9829;
    border-radius: 100%;
}

#quick-link{
    display: flex;
    flex-wrap: wrap;
    gap: 136px;
}

.quick-link-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quick-link-item h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

.link-item ul{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.link-item a{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B3B2B2;
}

.link-item a:hover{
    color: #FFFFFF;
}

/* Copy Right */
#container-copy-right{
    background-color: #0A0D0D;
}

hr{
    background-color: #E2E9E9;
    height: 2px;
}

#copy-right-text{
    color: #FFFFFF;
    padding: 24px 80px;
    font-weight: 500;
}


@media (max-width: 992px) {
    #hero{
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .navbar .menu, .navbar .button-nav{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropDown-menu{
        display: block;
    }
}