@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rowdies:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    padding: 0 80px;
}

.btn{
    border-radius: 10px;
    padding: 16px 24px;
    align-items: center;
    text-align: center;
}

.btn-primary{
    background-color: #000;
    color: #fff;
}

.btn-secondary{
    background-color: #F1F4F4;
    color: #000;
}

.btn-ghost{
    border: 2px solid #fff;
    color: #F1F4F4;
}

header{
    margin-bottom: 4em;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 17px 0;
    font-size: 16px;
    height: 70px;
}

.navbar .menu, .navbar .button-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.logo{
    width: 85%;
    height: 85%;
}

.container-hero{
    color: #fff;
    background-color: #000;
    padding-top: 52px;
    padding-bottom: 52px;
}

.header-body{
    display: flex;
    justify-content: space-between;
    gap: 140px;
    align-items: center;
}

.header-body .btn{
    margin: 10px 0;
    display: inline-block;
}

.banner img{
    width: 430px;
    height: 490px;
    /* animation: fadeIn 0.6s ease-in; */
}

.title{
    font-size: 48px;
    margin: 20px 0;
    line-height: 65px;
    font-weight: 500;
    /* animation: slideUp 0.7s ease-in; */
}

.title span{
    font-size: 64px;
    color: #FA9829;
    font-family: 'Rowdies', cursive;
}

.header-text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #B3B2B2;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-text .btn-primary{
    margin-right: 1em;
}

.button-hero{
    font-size: 18px;
    font-weight: 500;
}

.button-hero .btn{
    width: 160px;
}

.button-hero .btn-secondary{
    margin-right: 32px;
}

